<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WTF系统" connectionString="Data Source=.;Initial Catalog=SnokyeDev;Persist Security Info=True;User ID=sa;Password=123456" />

    <add name="SnokyeContainer" connectionString="metadata=res://*/Model.Snokye.csdl|res://*/Model.Snokye.ssdl|res://*/Model.Snokye.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SnokyeDev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>